:root{
  --primary-color: #1B3B46;
  --secondary-color: #A3C6CC;
  --background-color: #f9f9f9;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color); /*Ändert die Hintergrundfarbe der Seite*/

  /*Ändert die Standardschriftart und -farbe für alle Elemente*/
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

img.home-logo {
  width: 350px;
  margin-top: 4em;
  margin-bottom: 4em;
}

h1.home-title {
  font-size: 5.5em;
  font-weight: 900;
  margin: 0;
}

h2.home-subtitle {
  font-size: 2.2em;
  font-weight: 500;
  margin: 0;
}

div.cta-btn-container {
  display: flex;
  gap: 20px; /* Space between buttons */
  margin-top: 4em;
  margin-bottom: 4em;
}

/*Ändert das Standarddesign der Primefaces Button*/
button.cta-btn-bergen, button.cta-btn-melden.ui-state-hover, button.cta-btn-melden.ui-state-active {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.5em;
  font-weight: 500;
}

/*Ändert das Standarddesign der Primefaces Button beim hovern*/
button.cta-btn-melden, button.cta-btn-bergen.ui-state-hover, button.cta-btn-bergen.ui-state-active {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5em;
  font-weight: 500;
}

div.home-infotext{
  font-size: 1.2em;
  max-width: 60%;
  text-align: center;
}

.toggle-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

thead tr th.ui-state-default{
  background: var(--primary-color);
  color: white;
}

tbody.ui-datatable-data > tr{
  background: var(--secondary-color) !important;
}

button.table-btn-bergen{
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  background: var(--primary-color);
  padding-left: 1em;
  padding-right: 1em;
}

button.table-btn-bergen.ui-state-hover, button.table-btn-bergen.ui-state-active{
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding-left: 1em;
  padding-right: 1em;
}