
/*-------------------- Global Settings --------------------*/

:root{
  /*Default Colors*/
  --primary-color: #1B3B46 !important;
  --secondary-color: #A3C6CC !important;
  --background-color: #f9f9f9 !important;

  /*Status Colors*/
  --dark-red-color: #c63737 !important;
  --light-red-color: #ffcdd2 !important;
  --dark-green-color: #256029 !important;
  --light-green-color: #c8e6c9 !important;
  --dark-blue-color: #23547b !important;
  --light-blue-color: #b3e5fc !important;
  --dark-yellow-color: #805b36 !important;
  --light-yellow-color: #ffd8b2 !important;
}

body {
  /*Main Background Color for alle Pages*/
  background-color: var(--background-color);

  /*Global Font Settings*/
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

/*Main Container that should contain all other page elements
  Used to center all elements horizontally and vertically*/
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin:0 auto;
}

h1 {
  font-size: 5.5em;
  font-weight: 900;
}

h2 {
  font-size: 2.2em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
}

/*-------------------- Button Settings --------------------*/

button.secondary-button, button.primary-button.ui-state-hover, button.primary-button.ui-state-active {
  border: 2px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

button.primary-button, button.secondary-button.ui-state-hover, button.secondary-button.ui-state-active {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--secondary-color);
}

button.big-button{
  padding: 0.3em;
  font-weight: 500;
  height: fit-content;
}

button.small-button {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  border: 2px solid var(--primary-color);
  font-weight: 500;
  height: fit-content;
}

button.icon-button {
  border-width: 2px;
}

button.green-button{
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
  border-color: var(--light-green-color);
}

button.green-button:hover{
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
  border-color: var(--dark-green-color);
}

button.blue-button{
  color: var(--dark-blue-color);
  background-color: var(--light-blue-color);
  border-color: var(--light-blue-color);
}

button.blue-button:hover{
  color: var(--dark-blue-color);
  background-color: var(--light-blue-color);
  border-color: var(--dark-blue-color);
}

button.yellow-button{
  color: var(--dark-yellow-color);
  background-color: var(--light-yellow-color);
  border-color: var(--light-yellow-color);
}

button.yellow-button:hover{
  color: var(--dark-yellow-color);
  background-color: var(--light-yellow-color);
  border-color: var(--dark-yellow-color);
}

button.red-button{
  color: var(--dark-red-color);
  background-color: var(--light-red-color);
  border-color: var(--light-red-color);
}

button.red-button:hover{
  color: var(--dark-red-color);
  background-color: var(--light-red-color);
  border-color: var(--dark-red-color);
}

/*-------------------- Error Message Style --------------------*/
.error-message{
  padding: 2px 8px;
  border-radius: 3px;
  background-color: var(--light-red-color);
  color: var(--dark-red-color);
}

/*-------------------- Index/Home Page Settings --------------------*/

img.home-logo {
  width: 350px;
  margin-top: 4em;
  margin-bottom: 4em;
}

h1.home-title {
  margin: 0;
}

h2.home-subtitle {
  margin: 0 0 0.5em 0;
}

div.home-button-container {
  display: flex;
  gap: 20px; /* Space between buttons */
  margin-bottom: 4em;
}

.worldmap-container {
  width: 100%;
  height: 600px;
  border: solid;
  border-radius: 5px;
  border-color: var(--primary-color);
  border-width: 2px;
  margin-bottom: 4em;
}

/*-------------------- Report Ghostnet Style Settings --------------------*/

h1.report-title {
  margin: 10px;
  font-size: 36px;
  font-weight: 600;
}

.report-grid{
  background-color: var(--secondary-color);
  border: solid;
  padding: 2em 1em;
  border-radius: 5px;
  border-width: 2px;
}

button.ui-datepicker-trigger {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

button.ui-datepicker.trigger .ui-button.ui-state-hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.submit-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}

/*-------------------- Auth Page Settings --------------------*/

h1.auth-title {
  margin: 10px;
  font-size: 36px;
  font-weight: 600;
}

ul.ui-tabs-nav {
  background-color: var(--primary-color) !important;
  border-radius: 5px 5px 0 0 !important;
  justify-content: space-around;
}

ul.ui-tabs-nav::before {
  content: none !important;
}

ul.ui-tabs-nav li {
  background-color: inherit !important;
  color: var(--secondary-color) !important;
  border-bottom-color: none !important;
}

ul.ui-tabs-nav li.ui-tabs-selected {
  background-color: inherit !important;
  color: var(--secondary-color) !important;
  border-bottom-color: var(--secondary-color) !important;
}

ul.ui-tabs-nav li.ui-tabs-selected > a {
  color: var(--secondary-color) !important;
}

div.ui-tabs-panels {
  background: var(--secondary-color) !important;
  border-radius: 0 0 5px 5px !important;
}

/*-------------------- Userdash Page Settings --------------------*/

.userdash-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4em;
  align-items: center;
}

.userdash-header-form{
  margin:0;
  display: flex;
  margin: 0;
  gap: 10px;
}

/*-------------------- Current State Settings --------------------*/

.currentstate{
  padding: 2px 8px;
  border-radius: 3px;
}

.currentstate-GEMELDET{
  background-color: var(--light-blue-color);
  color: var(--dark-blue-color);
}

.currentstate-BERGUNG_BEVORSTEHEND{
  background-color: var(--light-yellow-color);
  color: var(--dark-yellow-color);
}
.currentstate-GEBORGEN{
  background-color: var(--light-green-color);
  color: var(--dark-green-color);
}
.currentstate-VERSCHOLLEN{
  background-color: var(--light-red-color);
  color: var(--dark-red-color);
}

/*-------------------- Table Settings --------------------*/

thead tr th.ui-state-default{
  background: var(--primary-color);
  color: white;
}

tbody.ui-datatable-data > tr{
  background: var(--secondary-color) !important;
}

body .ui-datatable .ui-paginator.ui-paginator-bottom {
  background: var(--primary-color);
}

body .ui-datatable thead th.ui-state-hover {
  background: var(--secondary-color);
}

body .ui-datatable thead th.ui-state-active {
  background: var(--primary-color);
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
  color: white;
}

body .ui-datatable thead th.ui-state-active.ui-state-hover {
  background: var(--secondary-color);
}